# Dossiers de build Maven
**/target/

# Fichiers de logs
logs/
*.log

# Bases de données H2
**/data/*.db
**/data/*.mv.db
**/data/*.trace.db
**/data/*.lock.db
data/  # Dossier data à la racine du projet

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse
.classpath
.project
.settings/

# IDE - VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar

